
 <!--Navigation-->
<div id="mainMenu">
    <div class="container">
        <nav>
            <ul>
                <li class="dropdown mega-menu-item">
                    <a href="@Url.Action("Index", "Home")">Home</a>
                </li>
                <li class="dropdown mega-menu-item">
                    <a href="#">Admin</a>
                </li>
                <li class="dropdown mega-menu-item">
                    <a href="@Url.Action("Index", "Blog")">Makale</a>
                </li>
                <li class="dropdown mega-menu-item">
                    <a href="@Url.Action("StartTest", "ProfileTest")">Test</a>
                </li>
                <li class="dropdown mega-menu-item">
                    <a href="#">Kişilik Tipleri</a>
                    <ul class="dropdown-menu">
                        <li class="mega-menu-content">
                            <div class="row">
                                <div class="col-lg-2-5">
                                    <ul>
                                        <li><a href="#">Two Columns</a></li>
                                        <li><a href="#">Three Columns</a></li>
                                        <li><a href="#">Four Columns</a></li>
                                        <li><a href="#">Five Columns</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-2-5">
                                    <ul>
                                        <li><a href="#">Two Columns</a></li>
                                        <li><a href="#">Three Columns<span class="badge badge-danger">HOT</span></a></li>
                                        <li><a href="#">Four Columns</a></li>
                                        <li><a href="#">Five Columns</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-2-5">
                                    <ul>
                                        <li><a href="#">Filter Styles</a></li>
                                        <li><a href="#">Load more</a></li>
                                        <li><a href="#">Load more - Sidebar</a></li>
                                        <li><a href="#">Infinity Scroll</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-2-5">
                                    <ul>
                                        <li><a href="#">Left Sidebar</a></li>
                                        <li><a href="#">Right Sidebar</a></li>
                                        <li><a href="#">Both Sidebars</a></li>
                                        <li><a href="#">Slider Default</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown mega-menu-item">
                    <a href="@Url.Action("MyProfile","UserProfile")">Profile</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!--end: Navigation-->
