@model IdentityProfileApp.Domain.Entities.Enums.Answers
    <div class="row" style="align-items:center;">
        <div class="col-sm-1">
            <span class="text-success">Katılıyorum</span>
        </div>
        <div class="col-sm-1">
            <label class="p-radio radio-color-success" style="font-size: 240%;">
                <input type="radio" name="radio_size" style="border: 5px solid red;">
                <span class="p-radio-style"></span>
            </label>
        </div>
        <div class="col-sm-1">
            <label class="p-radio radio-color-success" style="font-size:190%;">
                <input type="radio" name="radio_size">
                <span class="p-radio-style"></span>
            </label>
        </div>
        <div class="col-sm-1">
            <label class="p-radio radio-color-secondary" style="font-size:150%;">
                <input type="radio" name="radio_size">
                <span class="p-radio-style"></span>
            </label>
        </div>
        <div class="col-sm-1">
            <label class="p-radio radio-color-warning" style="font-size:190%;">
                <input type="radio" name="radio_size">
                <span class="p-radio-style"></span>
            </label>
        </div>
        <div class="col-sm-1">
            <label class="p-radio radio-color-warning" style="font-size:240%;">
                <input type="radio" name="radio_size">
                <span class="p-radio-style"></span>
            </label>
        </div>
        <div class="col-sm-1">
            <span class="text-warning">Katılmıyorum</span>
        </div>
    </div>