
<div class="row">
    <div class="card text-center col-md-12">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">
                <i class="far fa-clock"></i>
                E postanıza kurtarma maili yollandı
            </p>
            <a href="#" id="close" onclick="CloseModal('forgotPassword')" class="btn btn-primary">Tamam</a>
        </div>
    </div>
</div>
@*-----------------------------------------------------------------------------------------------------------------------*@

@*<div class="p-40 p-t-60 p-xs-20">
        <h3>Şifrenizi mi Unuttunuz?</h3>
        <form class="form-transparent-grey">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Şifre Yenileme</h3>
                    <p>Şifre sıfırlamak için sisteme kayıtlı emalinizi giriniz.</p>
                </div>
                <div class="col-lg-12 form-group">
                    <label class="sr-only">Address</label>
                    <input type="text" id="recoveryEMail" placeholder="Email" class="form-control">
                </div>
                <div class="col-lg-12 form-group">
                    <button class="btn" type="button" id="recoveryPassword"> Sıfırla </button>
                </div>
            </div>
        </form>
    </div>*@
