<div id="slider" class="inspiro-slider slider-fullscreen dots-creative" data-fade="true">
    <div class="slide" data-bg-video="/Content/video/crowd.mp4" data-autoplay="true">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="slide-captions text-left text-light">
                <!-- Captions -->
                <h1>220+ Laytout Demos</h1>
                <p class="text-small">POLO is packed with 220+ pre-made layouts that allow you to quickly jumpstart your project. Completely customizable for creating your own designs.</p>
                <div><a href="#welcome" class="btn scroll-to">Explore more</a></div>
                <!-- end: Captions -->
            </div>
        </div>
    </div>
</div>
